@import "tailwindcss";

@font-face {
  font-family: 'CedarvilleCursive';
  src: url('./assets/fonts/CedarvilleCursive-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #fe454f;
  --color-secondary: #43937a;
  --color-tertiary: #f7f3ed;

  fontFamily:{
    cursive :['CedarvilleCursive', '']
  }
}